###### Requirements without Version Specifiers ######`
Flask
Jinja2
gunicorn
prettytable
pandas
selenium
chromedriver-binary
beautifulsoup4
chromedriver-binary-auto
###### Requirements with Version Specifiers ######`
